<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gkyt.dao.SysuserMapper">
	<resultMap id="BaseResultMap" type="gkyt.model.Sysuser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="jail_id" property="jailId" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, real_name,login_name, login_pwd,email,status,jail_id, role_id,is_delete,created_at,updated_at
	</sql>
	
	<select id="login" parameterType="gkyt.model.Sysuser" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from tb_sysuser
		where login_name = #{loginName,jdbcType=VARCHAR} and login_pwd = #{loginPwd,jdbcType=VARCHAR} 
	</select>
	
	
</mapper>