<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gkyt.dao.OrderReportMapper">
	<resultMap id="BaseResultMap" type="gkyt.model.OrderReport">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="jail_id" property="jailId" jdbcType="INTEGER" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, jail_id, number,status,created_at
	</sql>
	
	<select id="dailyReport" resultType="Map" >
		select jail_id,count(0) as number,0 as status from orders 
		 where date_format(created_at,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d') and `status`='TRADE_SUCCESS'
		 group by jail_id
		UNION ALL
		select jail_id,count(0) as number,1 as status from orders 
		 where date_format(created_at,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d') and `status`!='TRADE_SUCCESS'
		 group by jail_id
	</select>
	
	<select id="findPage" parameterType="gkyt.pojo.OrderReportDto" resultMap="BaseResultMap">
	     select 
	     <include refid="Base_Column_List" />
	     from tb_order_report where 1=1
	     <if test="jailId != null and jailId != ''">
		     and jail_id = #{jailId,jdbcType=VARCHAR} 
		 </if>
		 <if test="status != null and status != ''">
		     and status = #{status,jdbcType=VARCHAR} 
		 </if>
	   	 <if test="startTime != null and startTime != ''">
		     and created_at &gt;= #{startTime,jdbcType=VARCHAR} 
		 </if>
		 <if test="endTime != null and endTime != ''">
		     and created_at &lt;= #{endTime,jdbcType=VARCHAR} 
		 </if>
	      order by id desc
	</select>
	
  	<insert id="save" parameterType="gkyt.model.OrderReport">
	    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	   	insert into tb_order_report (
			jail_id,
			number,
			status,
			created_at
	      )
	    values (#{jailId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{createdAt,jdbcType=TIMESTAMP})
  	</insert>
  
</mapper>