<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gkyt.dao.SysmenuMapper">
	<resultMap id="BaseResultMap" type="gkyt.model.Sysmenu">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="menu_path" property="menuPath" jdbcType="VARCHAR" />
		<result column="menu_type" property="menuType" jdbcType="INTEGER" />
		<result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, menu_name,menu_path,menu_type,menu_order,pid,created_at,updated_at
	</sql>
	
	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from tb_sysmenu
		where id = #{id,jdbcType=VARCHAR} 
	</select>
	
	<select id="getAll" resultMap="BaseResultMap">
	     select 
	     <include refid="Base_Column_List" />
	     from tb_sysmenu order by id desc
	</select>
	
	<select id="getSubmenu" parameterType="gkyt.pojo.SysmenuDto" resultMap="BaseResultMap">
	     select 
	     <include refid="Base_Column_List" />
	     from tb_sysmenu where pid = #{id,jdbcType=VARCHAR}  order by menu_order asc
	</select>
	
	<select id="getOneLevelMenu" parameterType="gkyt.pojo.SysmenuDto" resultMap="BaseResultMap">
	     select 
	     <include refid="Base_Column_List" />
	     from tb_sysmenu where menu_type=1
	     order by menu_order asc
	</select>
	
	<select id="getByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
	     select m.* from tb_sysmenu m,tb_rolemenu rm 
	     where m.id=rm.menu_id where rm.role_id= #{roleId,jdbcType=VARCHAR}
	     order by m.menu_order asc
	</select>
	
	<select id="findPage" parameterType="gkyt.pojo.SysmenuDto" resultMap="BaseResultMap">
	     select 
	     <include refid="Base_Column_List" />
	     from tb_sysmenu where 1=1
	   	 <if test="menuName != null and menuName != ''">
		     and menu_name like '%' || #{menuName,jdbcType=VARCHAR} || '%'
		 </if>
		 <if test="menuType != null and menuType != ''">
		     and menu_type = #{menuType,jdbcType=VARCHAR} 
		 </if>
	   	 <if test="startTime != null and startTime != ''">
		     and created_at &gt;= #{startTime,jdbcType=VARCHAR} 
		 </if>
		 <if test="endTime != null and endTime != ''">
		     and created_at &lt;= #{endTime,jdbcType=VARCHAR} 
		 </if>
	      order by id desc
	</select>
	
 	<delete id="delete" parameterType="java.lang.String">
	    delete from tb_sysmenu where id = #{id,jdbcType=VARCHAR} 
  	</delete>
  	
  	 <delete id="deleteMenuRole" parameterType="java.lang.String">
	    delete from tb_rolemenu where menu_id = #{menuId,jdbcType=VARCHAR} 
  	</delete>
  	
  	<insert id="save" parameterType="gkyt.model.Sysmenu">
	    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	   	insert into tb_sysmenu (
			menu_name,
			menu_path,
			menu_type,
			menu_order,
			pid,
			created_at
	      )
	    values (#{menuName,jdbcType=VARCHAR}, #{menuPath,jdbcType=VARCHAR}, #{menuType,jdbcType=INTEGER},
	    		#{menuOrder,jdbcType=INTEGER},#{pid,jdbcType=INTEGER},#{createdAt,jdbcType=TIMESTAMP}
	    		)
  	</insert>
  
    <update id="update" parameterType="gkyt.model.Sysmenu">
	    update tb_sysmenu
	    set 
	      menu_name = #{menuName,jdbcType=VARCHAR},
	      menu_path = #{menuPath,jdbcType=VARCHAR},
	      menu_type = #{menuType,jdbcType=INTEGER},
	      menu_order = #{menuOrder,jdbcType=INTEGER},
	      pid = #{pid,jdbcType=INTEGER},
	      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
	    where id = #{id,jdbcType=INTEGER}
  	</update>
</mapper>