<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gkyt.dao.SysuserMapper">
	<resultMap id="BaseResultMap" type="gkyt.model.Sysuser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="jail_id" property="jailId" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, real_name,login_name, login_pwd,email,status,jail_id, role_id,is_delete,created_at,updated_at
	</sql>
	
	<select id="login" parameterType="gkyt.pojo.SysuserDto" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from tb_sysuser
		where is_delete=0 and login_name = #{loginName,jdbcType=VARCHAR} and login_pwd = #{loginPwd,jdbcType=VARCHAR} 
	</select>
	
	<select id="checkLoginName" parameterType="java.lang.String" resultType="java.lang.Integer" >
		select
		count(0)
		from tb_sysuser
		where is_delete=0 and login_name = #{loginName,jdbcType=VARCHAR}
	</select>
	
	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from tb_sysuser
		where id = #{id,jdbcType=VARCHAR} 
	</select>
	
	<select id="findPage" parameterType="gkyt.pojo.SysuserDto" resultMap="BaseResultMap">
	     select 
	     u.*,j.title as jailName,r.role_name as roleName
	     from tb_sysuser u left join jails j on u.jail_id=j.id LEFT JOIN tb_sysrole r on u.role_id=r.id 
	     where 1=1 and u.is_delete=0 
	     <if test="roleId != null and roleId != ''">
		     and u.role_id = #{roleId,jdbcType=VARCHAR} 
		 </if>
		<if test="status != null and status != ''">
		     and u.status = #{status,jdbcType=VARCHAR} 
		 </if>
	   	 <if test="loginName != null and loginName != ''">
		     and u.login_name like '%' || #{loginName,jdbcType=VARCHAR} || '%'
		 </if>
	   	 <if test="startTime != null and startTime != ''">
		     and u.created_at &gt;= #{startTime,jdbcType=VARCHAR} 
		 </if>
		 <if test="endTime != null and endTime != ''">
		     and u.created_at &lt;= #{endTime,jdbcType=VARCHAR} 
		 </if>
	      order by u.id desc
	</select>
	
  	<update id="delete" parameterType="java.lang.String">
	    update tb_sysuser
	    set is_delete = 1
	    where id = #{id,jdbcType=VARCHAR}
  	</update>
  	
  	<insert id="save" parameterType="gkyt.model.Sysuser">
	    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	   	insert into tb_sysuser (
			real_name,
			login_name,
			login_pwd,
			email,
			jail_id,
			role_id,
			created_at
	      )
	    values (#{realName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, 
	      #{email,jdbcType=VARCHAR}, #{jailId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER},
	       #{createdAt,jdbcType=TIMESTAMP}
	      )
  	</insert>
  
    <update id="update" parameterType="gkyt.model.Sysuser">
	    update tb_sysuser
	    set 
	      real_name = #{realName,jdbcType=VARCHAR},
	      login_name = #{loginName,jdbcType=VARCHAR},
	      login_pwd = #{loginPwd,jdbcType=VARCHAR},
	      email = #{email,jdbcType=VARCHAR},
	      jail_id = #{jailId,jdbcType=INTEGER},
	      role_id = #{roleId,jdbcType=INTEGER},
	      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
	    where id = #{id,jdbcType=INTEGER}
  	</update>
</mapper>